{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão do Tempo</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header>
            <h1>Previsão do Tempo</h1>
            <div class="busca">
                <input type="text" placeholder="Buscar cidade...">
                <button>🔍</button>
            </div>
        </header>

        <main>
            <div class="clima-atual">
                <div class="info-principal">
                    <h2>{{ clima.cidade }}</h2>
                    <div class="temperatura">
                        {% if clima.tempo in chuva %}
                        <span class="icone">🌧️</span>

                        {% elif clima.tempo in sol %}
                        <span class="icone">☀️</span>
                        
                        {% elif clima.tempo in trovao %}
                        <span class="icone">⛈️</span>

                        {% elif clima.tempo in nuvem %}
                        <span class="icone">☁️</span>

                        {% elif clima.tempo in neve %}
                        <span class="icone">❄️</span>

                        {% else %}
                        <span class="icone">🤔</span>

                        {% endif %}
                        <span class="valor">{{ clima.temperatura | floatformat:0 }}°C</span>
                    </div>
                    <div class="temp-min-max">
                        <span>Min:{{ clima.temp_min | floatformat:0 }}°C</span>
                        <span>Max:{{ clima.temp_max | floatformat:0 }}°C</span>
                    </div>
                    <p class="condicao">{{ clima.tempo_traduz}}</p>
                </div>
                <div class="detalhes">
                    <div class="detalhe">
                        <span class="icone">💧</span>
                        <span>Umidade: {{ clima.umidade }}%</span>
                    </div>
                    <div class="detalhe">
                        <span class="icone">💨</span>
                        <span>Vento: {{ clima.vento }} Km/h</span>
                    </div>
                </div>
            </div>

            <div class="previsao">
                <div class="dia">
                    <h3>Segunda</h3>
                    <span class="icone">☀️</span>
                    <span class="temp">27°C</span>
                    <p>Ensolarado</p>
                </div>
                <div class="dia">
                    <h3>Terça</h3>
                    <span class="icone">☁️</span>
                    <span class="temp">25°C</span>
                    <p>Nublado</p>
                </div>
                <div class="dia">
                    <h3>Quarta</h3>
                    <span class="icone">🌧️</span>
                    <span class="temp">23°C</span>
                    <p>Chuvoso</p>
                </div>
                <div class="dia">
                    <h3>Quinta</h3>
                    <span class="icone">☀️</span>
                    <span class="temp">26°C</span>
                    <p>Ensolarado</p>
                </div>
                <div class="dia">
                    <h3>Sexta</h3>
                    <span class="icone">☁️</span>
                    <span class="temp">24°C</span>
                    <p>Nublado</p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>